body
{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    color: #0a0029;
}

.top-banner
{
    background-color: #0a0029;
    color: #FFF;
}

.top-banner p
{
    padding: 8px 0;
    margin: 0;
    text-align: center;
}

.menu-top-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
}

.logo-container img 
{
    width: 167px;
    margin-right: 110px;
}

.searchBar
{
    margin-right: 100px;
    width: 460px;
    border: solid 1px rgb(10, 0, 41);
}

.searchBar form
{
    display: flex;
    justify-content: space-between;
}

.searchBar input
{
    display: block;
    flex: 80%;
    outline: none;
    padding: 12px;
    font-size: 12px;
    border-style: none;
}

.searchBar button
{
    cursor: pointer;
    border-style: none;
    padding: 8px;
}

.searchBar i 
{
    font-size: 22px;
}

.asideNav-container
{
    display: flex;
    align-items: center;
}

.asideNav-container div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 63px;
}

.asideNav-container div:hover
{
    color: #0012FF;
    cursor: pointer;
}

.asideNav-container i
{
    font-size: 22px;
}

.asideNav-container p
{
    font-size: 10px;
    margin: 2px 0 0 0;
}

nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 66px;
    padding: 15px;
    position: relative;
}

.topmenu
{
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

.topmenu div
{
    padding: 0 8px;
}

nav a
{
    text-decoration: none;
    font-size: 15px;
}

nav a:hover
{
    color: #0012FF;
}

.cadeaux
{
    font-weight: bold;
    color: #E30613;
}

.icon-cart-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.icon-cart-container:hover p
{
    color: #0012FF;
}

.icon-cart-container i
{
    font-size: 24px;
}

.icon-cart-container p:hover
{
    color: #0012FF;
    cursor: pointer;
}

.icon-cart-container p
{
    font-size: 10px;
    margin: 2px 0 0 0;
}

.topmenu::after
{
    content: "0";
    display: flex;
    justify-content: center;
    align-items: center;

    width: 18px;
    height: 18px;

    position: relative;
    left: 148px;
    bottom: 20px;

    background-color: #0012FF;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    border-radius: 15px;
    z-index: 1;
}

.video-section
{
    display: flex;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.video-container
{
    flex: 1;
    padding-right: 15px;
}

.video-container video
{
    height: 384px;
}

.desc-video-container   
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: auto;
    width: 95%;
    height: 384px;
    padding: 0 30px;
}

.desc-video-container h1
{
    font-size: 32px;
    margin: 0 0 1rem 0;
}

.desc-video-container  p
{
    margin-top: 0;
    font-size: 16px;
}

.desc-video-container  button
{
    padding: 13px 30px;
    color: #FFF;
    background-color: #0a0029;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border-style: none;
    width: 186px;
    cursor: pointer;
}

.desc-video-container  button:hover
{
    background-color: #0012FF;
}

.product-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0;
    background: #F7F4F1;
}

.product-title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 48px 0;
    font-size: 32px;
}

.product-title::after
{
    content: "";
    display: block;
    margin-top: 16px;
    background-color: #0a0029;
    width: 100px;
    height: 6px;
}

.products-container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 16px 0 48px 0;
}

.card-product
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-width: 220px;
    /* max-height: 415px; */
    background-color: #FFF;
}

.card-product:last-child .name-product
{
    margin-bottom: 9px;
}

.typeofproduct
{
    align-self: flex-start;
    margin-bottom: 15px;
}

.typeofproduct p 
{
    color: #0012FF;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .04rem;
}

.link-product img
{
    height: 214px;
    width: 214px;
}

.name-product
{
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    cursor: pointer;
}

.name-product:hover
{
    text-decoration: underline;
}

.avis-container
{
    display: flex;
    align-items: center;
}

.avis-container p
{
    margin: 0;
}

.stars-container
{
    margin-right: 10px;
    
}

.stars-container i
{
    font-size: 15px;
    margin-right: -6px;
}

.stars-container i:last-child
{
    margin-right: 0;
}

.nombre-avis
{
    font-size: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

.nombre-avis:hover
{
    color: #0012FF;
}

.product-desc
{
    color: #707070;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 0;
}

.product-button
{
    font-size: 14px;
    font-weight: bold;
    color: #0a0029;
    background-color: #FFF;
    padding: 12px 8px;
    border: 2px solid #0a0029;
    width: 100%;
    cursor: pointer;
}

.tiret-button
{
    margin: 0 5px;
}

.product-button:hover
{
    color: #0012FF;
    border-color: #0012FF;
}

.relative
{
    position: relative;
}

.dosage
{
    position: absolute;
    top: 60px;
    left: 20px;
    z-index: 2;
    background-color: #0a0029;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 12px 8px;
}

.sectionOfavis
{
    background-color: #F7F4F1;
}

.avis-section
{
    display: flex;
    justify-content: center;
    margin: 0 140px 96px 140px;
}

.desc-section-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0a0029;
    color: #FFF;
    width: 34%;
    padding: 32px;
}

.desc-avis
{
    font-size: 32px;
    margin-bottom: 12px;
    margin-top: 0;
}

.subtitle-desc-avis
{
    font-size: 15px;
    margin: 0 0 16px 0;
}

.mark-avis
{
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 24px 0;
}

.nb-avis
{
    font-size: 16px;
}

.desc-section-container a
{
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
}

.desc-section-container a:hover
{
    text-decoration: none;
}

.rightpart-avis
{
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 51%;
    background: #FFF;
}

.rightpart-avis > .mb
{
    margin-bottom: 24px;
}

.rightpart-avis h3
{
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 24px 0;
}

.avis-card
{
    display: flex;
}

.part1-card
{
    width: 20%;
    margin-right: 30px;
}

.nameofauthorofavis
{
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 4px 0;
}

.checkUser-container
{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
}

.checkUser-container p
{
    margin: 0;
}

.checkUser-container i
{
    color: #0012FF;
    font-weight: bold;
    font-size: 17px;
}

.ageofauthor
{
    font-size: 12px;
    margin: 0 0 8px 0;
    color: #9CA3AF;
}

.part2-card
{
    width: 78%;
}

.header-avis
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.nameofproduct
{
    font-weight: bold;
    cursor: pointer;
    margin: 0;
}

.nameofproduct:hover
{
    color: #0012FF;
    text-decoration: underline;
}

.dateofavis
{
    margin: 0;
    font-size: 12px;
    color: #9CA3AF;
}

.blueStars-block 
{
    margin-bottom: 4px;
}

.blueStars-block i
{
    color: #0012FF;
    margin-right: -6px;
    font-size: 14px;
}

.titleofavis
{
    font-weight: bold;
    margin: 0 0 4px 0;
}

.txtofavis
{
    font-size: 15px;
    margin: 0;
}

.more-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0;
    color: #FFF;
    background-color: #0a0029;
}

.more-section h3
{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 24px 0;
}

.more-section a
{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
}

.section-besoins-boutiques-conseils-newsletter
{
    background-color: #F7F4F1;
    padding: 48px 0;
}

.besoins
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.besoins h2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    margin: 0 0 48px;
    text-align: center;
}

.besoins h2::after
{
    content: "";
    display: block;
    margin-top: 16px;
    background-color: #0a0029;
    width: 100px;
    height: 6px;
}

.grille-besoins
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.grille-besoins div
{
    position: relative;
    cursor: pointer;
}

.grille-besoins p
{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    color: #FFF;
    position: absolute;
    right: 22px;
    bottom: 14px;
}

.grille-besoins p:hover
{
    text-decoration: none;
}